
<mat-toolbar>
     <span>Recipe Book</span>
    <!-- <span class="menu"><a href="#">Recipes</a></span>
    
   <span class="menu"><a href="#">Shopping List</a> </span>   -->

   <button mat-button [matMenuTriggerFor]="menu" style="left: 70%;">Manage</button>
   <mat-menu #menu="matMenu">
       <button mat-menu-item>Save</button>
       <button mat-menu-item>Delete</button>
   </mat-menu>

  
  </mat-toolbar>

  <mat-tab-group>
    <mat-tab label="Recipes">  </mat-tab>
    <mat-tab label="Shopping List">  </mat-tab>
    
  </mat-tab-group>