<div style="margin: 2%;">
   <form #formIngrdient>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Add Ingrdient Name" #ingredientName name="name" ngModel>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Add Amount" #amount name="amount" ngModel>
      </mat-form-field>
      <div>
        <button mat-button color="primary" (click)="addIngredient(ingredientName, amount)">Add</button>
      <button mat-button color="warn" (click)="deleteIngredients(ingrdientName, amount)">Delete</button>
      <button mat-button color="accent" (click)="reset()">Clear</button>
      </div>
      
    </form>
</div>
