
        <app-shopping-list-edit ></app-shopping-list-edit>
        <hr>
        <span *ngFor="let ingredient of ingredients">
                <a ><p>{{ingredient.name}}({{ingredient.amount}})</p></a>
        </span>
        <mat-list role="list" >
               
                <!-- <mat-list-item role="listitem" *ngFor="let ingredient of ingredients">
                        <a ><p>{{ingredient.name}}({{ingredient.amount}})</p></a>
                       
                </mat-list-item> -->
        </mat-list>
        
    
