<mat-card>
    <mat-card-header>
       
        <mat-card-title>{{recipe.name}}
        <span><img [src]="recipe.imgPath" alt="recipe-img" style="max-height: 200px;"></span>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button  color="primary" [matMenuTriggerFor]="manage">Manage Recipe</button>
             <mat-menu #manage="matMenu" >
                
                <button mat-menu-item (click)="goToShoppingList()">To Shopping List</button>
                <button mat-menu-item (click)="editRecipe()">Edit Recipe</button>
                <button mat-menu-item>Delete Recipe</button>
             </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="height: 100%;">
        <p>{{recipe.description}}</p>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} ({{ingredient.amount}})    
            </mat-list-item>
        </mat-list>
        <!-- <span *ngFor="let ingredient of recipe.ingredients"> {{ingredient.name}} ({{ingredient.amount}})    </span> -->
    </mat-card-content>
    
</mat-card>